<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>遊戲庫</title>
    <link rel="stylesheet" href="/style/gamePack.css" />
    <script type="text/javascript" src="/app/jquery.js"></script>
    <style></style>
  </head>

  <body>
    <!-- 左邊：遊戲選擇 -->
    <div class="background"></div>
    <div class="allScreen">
      <section class="section1">
        <select class="gameTypeBtn">
          <option value="#">分類：<%- SelectGame_type || "全部" %></option>
          <option value="射擊遊戲">射擊遊戲</option>
          <option value="冒險遊戲">冒險遊戲</option>
          <option value="競技遊戲">競技遊戲</option>
        </select>
        <div class="downNote">往下滾動查看更多遊戲</div>
        <% allGames.map(function(v){ %>
              <%  if ( v.game_type ) { %>
                <div onclick="changeGame('<%- v.game_id %>')" class="game" <%- v.game_id == gameData.game_id?"id='gameSelect'":"id=''" %>>
                   <img src="/img/Games/<%- v.image %>" alt="" />
                   <p><%- v.game_name %></p>
                </div>
               <% } %>
        <% }) %>
      </section>

      <!-- 中間 -->
      <section class="section2">
        <!-- 中間：遊戲資訊 -->
        <div class="section2_info">
          <div class="s2left">
            <div class="s2Ldiv">
              <input
                type="hidden"
                name="gameCoverImg"
                value="<%- gameData.image %>"
              />
              <div class="s2Ltop">
                <span id="gameName"><%- gameData.game_name %></span>
              </div>
              <hr />
              <div class="s2Lbot">
                <div class="gameTypeDiv">
                  <span class="gameType"><%- gameData.game_type %></span>
                </div>
                <div>
                  <div class="gameInfo">
                    <span> <%- gameData.description %></span>
                  </div>
                  <br />
                  <div class="gameInfo2">
                    <div>
                      <p>
                        <span>開發商：</span
                        ><span><%- gameData.developer %></span>
                      </p>
                      <p>
                        <span>營運商：</span
                        ><span><%- gameData.publisher %></span>
                      </p>
                      <p><span>年齡限制：</span><span><%- ageRating%></span></p>
                      <p><span>評分：</span><span><%- gameRating %></span></p>
                      <p>
                        <span>遊玩人數：</span
                        ><span><%- gameData.downloads %></span>
                      </p>
                    </div>
                    <div class="s2btnDiv">
                      <% if(login_user_id){ if(uGame){%>
                      <div class="uHaveIt">此遊戲已經登錄在您的遊戲庫內</div>
                      <% } else {%>
                      <button id="joinGame" type="button">加入遊戲</button>
                      <% } } else {%>
                      <button id="notLogin" type="button">
                        登入後才可以加入遊戲
                      </button>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s2right">
            <div class="PicSec">
              <div class="bigImg">
                <img
                  id="thebigImg"
                  src="/img/Games/<%- gameData.image %>"
                  alt=""
                />
              </div>
              <div class="PicBar">
                <% gameData.image_paths.map(function(v,i){%>
                <div class="smallPicDiv" onclick="selectPic('<%- v %>')">
                  <img src="/img/Games/<%- v %>" alt="" />
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>

        <!-- 中間：評論區 -->
        <div class="section2_comment"></div>
      </section>

      <!-- 右邊：遊戲資訊 -->
      <section class="section3">
        <div>
          <li id="funcSelect" onclick="funcSelect('_info')"><p>遊戲資訊</p></li>
          <li onclick="funcSelect('_comment')"><p>評論區</p></li>
          <li><p>推薦遊戲</p></li>
          <li onclick="goPI('<%- login_user_id %>')"><p>個人頁面</p></li>
        </div>
      </section>
    </div>

    <div class="spotlight"></div>

    <script>
      /* 前往個人頁 */
      function goPI(x) {
        var result = window.confirm(
          "是否要前往個人頁面？"
        );
        if (result) {
          // 轉至登入頁
          window.location = `/wallet/PI/${x||"0"}`; // "0"為任意數，防止未登入時跳到 /PI/ 而呈現 404
        } else {
          // 拒絕跳頁
        }
      }

      /* 切換遊戲 */
      function changeGame(x) {
        window.location = `/games/game_ID/${x}`;
      }

      /* 點小圖換大圖 */
      function selectPic(x) {
        $("#thebigImg")
          .css("opacity", 1) // 初始為 100% 可見度
          .animate({ opacity: 0 }, 150, function () {
            // 淡出
            $(this)
              .attr("src", `/img/Games/${x}`) // 在淡出完後才換圖
              .animate({ opacity: 1 }, 100); // 淡入
          });
      }

      $(function () {
        /* s1 不同類型的遊戲 */
        $(".gameTypeBtn").on("change", function (e) {
          var game_type = $(".gameTypeBtn").val();
          console.log(game_type);
          $.ajax({
            url: `http://localhost:80/games/api/newGamePage/Game_type`,
            type: "get",
            data: {
              game_type: game_type,
            },
          });
          $.ajax({
            url: `http://localhost:80/games/game_ID/<%- gameData.game_id %>`,
            type: "get",
            data: {
              game_type: game_type,
            },
          });
        });
      });

      /* star */
      $("input[name=rating]").on("change", function () {
        var inputRating = $("input[name=rating]:checked").val();
        $("#yourRating").html(inputRating);

        var stars = document.getElementsByClassName("star");

        for (var i = 0; i < parseInt(inputRating); i++) {
          stars[i].addEventListener("click", function () {
            var rating = parseInt(this.previousElementSibling.value);

            // 移除所有星
            for (var j = 0; j < stars.length; j++) {
              stars[j].classList.remove("star_filled");
            }

            for (var k = 0; k < rating; k++) {
              stars[k].classList.add("star_filled");
            }
          });
        }
      });

      /* 登入才可加入遊戲 */
      $("#notLogin").on("click", function () {
        var result = window.confirm(
          "登入後才可以將遊戲加入遊戲庫喔！\n是否要前往登入頁呢？"
        );
        if (result) {
          // 轉至登入頁
          window.location.href = "/login"; // 替換成您要導航的目標頁面的URL
        } else {
          // 拒絕跳頁
        }
      });

      /////////////////////////////////////////
      /////////////////////////////////////////
      /* CRUD */
      $(function () {
        const gameId = "<%- gameData.game_id%>";
        const userId = "<%- login_user_id%>";

        console.log(gameId, "+", userId);

        /* 加入遊戲庫 */
        $("#joinGame").on("click", function (e) {
          e.preventDefault();
          if (
            parseInt("<%- ageLimit.user_age %>") >=
            parseInt("<%- ageLimit.age_rating %>")
          ) {
            $.ajax({
              url: `http://localhost:80/games/api/insertUG/GID/${gameId}`,
              type: "POST",
              data: {
                game_id: gameId,
                user_id: userId,
                game_name: $("#gameName").text(),
                image: $("input[name='gameCoverImg']").val(),
              },
            }).done((data) => {
              alert("已將遊戲加入遊戲庫！");
              location.reload();
            });
          } else {
            alert(
              "不好意思，該遊戲為「<%- ageRating %>」，根據法律規定，您的年齡還不能遊玩該遊戲。"
            );
          }
        });

        /* 上傳評論 */
        $("#formReview").on("submit", function (e) {
          e.preventDefault();
          if ($("input[name=rating]:checked").val() == null) {
            alert("請先選擇評分。");
          } else {
            $.ajax({
              url: `http://localhost:80/games/api/insertGR/GID/${gameId}`,
              type: "POST",
              data: {
                game_id: gameId,
                user_id: userId,
                rating: $("input[name=rating]:checked").val(),
                comment: $("textarea[name=comment]").val(),
              },
            })
              .done((data) => {
                alert(`評論已經發布囉！`);
                $("#averageRating").text(data.newAverageRating);
                location.reload();
              })
              .fail((jqXHR, textStatus, errorThrown) => {
                console.error("Error:", textStatus, errorThrown);
                alert("系統出了問題請稍後重試。");
              });
          }
        });

        /* 評論刪除 */
        $("#commentDelete").on("click", function (e) {
          e.preventDefault();
          $.ajax({
            url: `http://localhost:80/games/api/DeleteGR/GID/${gameId}`,
            type: "DELETE",
            data: {
              game_id: gameId,
              user_id: userId,
            },
          }).done((data) => {
            alert("已將評論刪除！");
            location.reload();
          });
        });

        /* 修改評論 */
        $("#commentEditForm").on("submit", function (e) {
          e.preventDefault();
          $.ajax({
            url: `http://localhost:80/games/api/updateGR/GID/${gameId}`,
            type: "PUT",
            data: {
              game_id: gameId,
              user_id: userId,
              rating: $("#editRating").val(),
              comment: $("textarea[name='editComment']").val(),
            },
          }).done((data) => {
            alert("評論已更新！");
            location.reload();
          });
        });
      });
    </script>
  </body>
</html>
